{{>header}}

<form action="/add" method="POST">
    <section>  
        <h1>Toevoegen</h1>
        <h2>Voeg jouw auto toe</h2>
        
        <section>
            <label for="keteken">Kenteken van de auto</label>
            <input type="text" name="kenteken" id="kenteken" required>
            

            <label for="merk">Merk van de auto</label>
            <input type="text" name="merk" id="merk" value="">

            <label for="type">Type auto</label>
            <input type="text" name="type" id="type" value="">

            <label for="kleur">Kleur van de auto</label>
            <input type="text" name="kleur" id="kleur" value="">

            <label for="locatie">Locatie</label>
            <input type="text" name="locatie" id="locatie" value="">
        </section>

        <input type="submit" value="voeg toe">
    </section>
</form>
