{{>header}}

<form action="/add" method="POST">
    <section>  
        <h1>Toevoegen</h1>
        <h2>Voeg jouw auto toe</h2>
        
        <section>
            <label for="merk">Merk van de auto</label>
            <input type="text" name="merk" id="merk" required>

            <label for="type">Type auto</label>
            <input type="text" name="type" id="type" required>

            <label for="kleur">Kleur van de auto</label>
            <input type="text" name="kleur" id="kleur" required>
        </section>

        <input type="submit" value="voeg toe">
    </section>
</form>
