{{>header}}

    <h1>Matching app</h1>

<section class="match">
    <h1>Matches</h1>

     {{#each data}}
    <article>
        <img src="foo.png" alt="An image">
        <section class="info">
            <h2>{{merk}}</h2>
            <p>{{type}}</p>
            <p>{{kleur}}</p>
        </section>
    </article>
    {{/each}}

</section>